In [164]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


# Read the data
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_train.head()
#df_test.head()

,id,num_rooms,num_baths,square_meters,orientation,year_built,door,is_furnished,has_pool,neighborhood,num_crimes,has_ac,accepts_pets,num_supermarkets,price
0,9255,1.0,1.0,NaN,NaN,1956.0,3º - 1a,False,False,Sant Martí,2.0,True,True,NaN,1096
1,1562,4.0,1.0,133.0,west,1960.0,7º - 2a,False,False,Sants,4.0,False,False,2.0,1396
2,1671,2.0,3.0,137.0,NaN,2000.0,1º - 1a,False,True,Eixample,0.0,False,False,NaN,1263
3,6088,1.0,2.0,-41.0,NaN,2002.0,6º - 1a,False,True,Sants,5.0,False,False,NaN,1290
4,6670,2.0,1.0,70.0,NaN,1979.0,5º - 1a,True,False,Gràcia,0.0,False,True,3.0,962

In [165]:
#TRAIN 
df_train['num_door'] = pd.to_numeric(df_train['door'].str.split(' ').str[2].str[0], errors = 'coerce')
df_train.describe()

df_train = df_train.drop(['door'], axis = 1)
display(df_train)

#TEST
df_test['num_floor'] = pd.to_numeric(df_test['door'].str.split('º').str[0], errors = 'coerce')
df_test['num_door'] = pd.to_numeric(df_test['door'].str.split(' ').str[2].str[0], errors = 'coerce')
df_test = df_test.drop(['door'], axis = 1)
display(df_test)

,id,num_rooms,num_baths,square_meters,orientation,year_built,is_furnished,has_pool,neighborhood,num_crimes,has_ac,accepts_pets,num_supermarkets,price,num_door
0,9255,1.0,1.0,NaN,NaN,1956.0,False,False,Sant Martí,2.0,True,True,NaN,1096,1.0
1,1562,4.0,1.0,133.0,west,1960.0,False,False,Sants,4.0,False,False,2.0,1396,2.0
2,1671,2.0,3.0,137.0,NaN,2000.0,False,True,Eixample,0.0,False,False,NaN,1263,1.0
3,6088,1.0,2.0,-41.0,NaN,2002.0,False,True,Sants,5.0,False,False,NaN,1290,1.0
4,6670,2.0,1.0,70.0,NaN,1979.0,True,False,Gràcia,0.0,False,True,3.0,962,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,5735,2.0,NaN,95.0,south,2021.0,False,False,Sant Martí,0.0,False,False,NaN,1066,1.0
7996,5192,4.0,3.0,166.0,NaN,1995.0,False,False,Nou Barris,9.0,False,False,NaN,1255,4.0
7997,5391,4.0,1.0,89.0,east,2015.0,True,False,Sant Martí,0.0,True,False,1.0,1220,3.0
7998,861,4.0,2.0,167.0,west,1977.0,False,True,Gràcia,0.0,True,False,NaN,1547,4.0
7999,7271,2.0,1.0,95.0,NaN,2000.0,False,True,Nou Barris,8.0,True,False,NaN,1133,4.0

,id,num_rooms,num_baths,square_meters,orientation,year_built,is_furnished,has_pool,neighborhood,num_crimes,has_ac,accepts_pets,num_supermarkets,num_floor,num_door
0,6253,NaN,1.0,152.0,NaN,2012.0,True,True,Les Cors,0.0,False,False,NaN,5.0,4.0
1,4685,NaN,2.0,90.0,east,1957.0,True,False,Ciutat Vella,2.0,False,True,3.0,10.0,1.0
2,1732,NaN,2.0,86.0,NaN,1991.0,False,False,Eixample,0.0,False,True,NaN,5.0,2.0
3,4743,NaN,3.0,164.0,NaN,2002.0,False,True,Nou Barris,7.0,False,False,NaN,8.0,4.0
4,4522,NaN,1.0,99.0,NaN,1984.0,True,True,Sant Andreu,0.0,True,False,3.0,8.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,6413,3.0,3.0,95.0,south,1976.0,True,True,Sarrià-Sant Gervasi,0.0,True,True,NaN,5.0,2.0
1996,8286,1.0,2.0,161.0,NaN,1984.0,True,False,Nou Barris,9.0,False,False,NaN,5.0,1.0
1997,7854,4.0,3.0,111.0,NaN,1957.0,True,True,Gràcia,0.0,False,True,NaN,4.0,2.0
1998,1096,2.0,1.0,154.0,north,2018.0,False,False,Nou Barris,7.0,False,False,NaN,9.0,1.0
1999,6930,4.0,2.0,55.0,south,1958.0,False,True,Eixample,0.0,False,False,NaN,3.0,3.0

In [166]:
# We study the different labels that non-numeric variables have

for column in df_train.select_dtypes(exclude = ['int', 'float']).columns:
    print(f"> {column}: {df_train[column].unique()}\n")

'''
We can observe that there are some inconsistencies that we will need to handle:
1. In 'orientation' we have 'south' and 'soxth'. We need to change 'soxth' to 'south'.
2. In 'neighborhood' we have no inconsistencies but there is a consistent typo. We will change 'Les Cors' to 'Les Corts'.
3. The rest of the variables have no inconsistencies aside from having missing values, which we will handle infra.
'''

df_train['neighborhood'] = df_train['neighborhood'].replace('Les Cors', 'Les Corts')
df_train['orientation'] = df_train['orientation'].replace('soxth', 'south')

if not df_train['orientation'].isin(['soxth']).any() and not df_train['neighborhood'].isin(['Les Cors']).any():
    print('>>>>> RESULT: "soxth" and "Les Cors" are not values in the dataset anymore <<<<<')

df_test['neighborhood'] = df_test['neighborhood'].replace('Les Cors', 'Les Corts')
df_test['orientation'] = df_test['orientation'].replace('soxth', 'south')

if not df_test['orientation'].isin(['soxth']).any() and not df_test['neighborhood'].isin(['Les Cors']).any():
    print('>>>>> RESULT: "soxth" and "Les Cors" are not values in the dataset anymore <<<<<')

> orientation: [nan 'west' 'east' 'north' 'south' 'soxth']

> is_furnished: [False True nan]

> has_pool: [False True nan]

> neighborhood: ['Sant Martí' 'Sants' 'Eixample' 'Gràcia' nan 'Les Cors'
 'Sarrià-Sant Gervasi' 'Horta' 'Sant Andreu' 'Ciutat Vella' 'Nou Barris']

> has_ac: [True False nan]

> accepts_pets: [True False nan]

>>>>> RESULT: "soxth" and "Les Cors" are not values in the dataset anymore <<<<<
>>>>> RESULT: "soxth" and "Les Cors" are not values in the dataset anymore <<<<<

In [167]:
df_train = df_train.drop(columns = ['num_supermarkets'], axis = 1)
display(df_train)

df_test = df_test.drop(columns = ['num_supermarkets'], axis = 1)
display(df_test)

,id,num_rooms,num_baths,square_meters,orientation,year_built,is_furnished,has_pool,neighborhood,num_crimes,has_ac,accepts_pets,price,num_door
0,9255,1.0,1.0,NaN,NaN,1956.0,False,False,Sant Martí,2.0,True,True,1096,1.0
1,1562,4.0,1.0,133.0,west,1960.0,False,False,Sants,4.0,False,False,1396,2.0
2,1671,2.0,3.0,137.0,NaN,2000.0,False,True,Eixample,0.0,False,False,1263,1.0
3,6088,1.0,2.0,-41.0,NaN,2002.0,False,True,Sants,5.0,False,False,1290,1.0
4,6670,2.0,1.0,70.0,NaN,1979.0,True,False,Gràcia,0.0,False,True,962,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,5735,2.0,NaN,95.0,south,2021.0,False,False,Sant Martí,0.0,False,False,1066,1.0
7996,5192,4.0,3.0,166.0,NaN,1995.0,False,False,Nou Barris,9.0,False,False,1255,4.0
7997,5391,4.0,1.0,89.0,east,2015.0,True,False,Sant Martí,0.0,True,False,1220,3.0
7998,861,4.0,2.0,167.0,west,1977.0,False,True,Gràcia,0.0,True,False,1547,4.0
7999,7271,2.0,1.0,95.0,NaN,2000.0,False,True,Nou Barris,8.0,True,False,1133,4.0

,id,num_rooms,num_baths,square_meters,orientation,year_built,is_furnished,has_pool,neighborhood,num_crimes,has_ac,accepts_pets,num_floor,num_door
0,6253,NaN,1.0,152.0,NaN,2012.0,True,True,Les Corts,0.0,False,False,5.0,4.0
1,4685,NaN,2.0,90.0,east,1957.0,True,False,Ciutat Vella,2.0,False,True,10.0,1.0
2,1732,NaN,2.0,86.0,NaN,1991.0,False,False,Eixample,0.0,False,True,5.0,2.0
3,4743,NaN,3.0,164.0,NaN,2002.0,False,True,Nou Barris,7.0,False,False,8.0,4.0
4,4522,NaN,1.0,99.0,NaN,1984.0,True,True,Sant Andreu,0.0,True,False,8.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,6413,3.0,3.0,95.0,south,1976.0,True,True,Sarrià-Sant Gervasi,0.0,True,True,5.0,2.0
1996,8286,1.0,2.0,161.0,NaN,1984.0,True,False,Nou Barris,9.0,False,False,5.0,1.0
1997,7854,4.0,3.0,111.0,NaN,1957.0,True,True,Gràcia,0.0,False,True,4.0,2.0
1998,1096,2.0,1.0,154.0,north,2018.0,False,False,Nou Barris,7.0,False,False,9.0,1.0
1999,6930,4.0,2.0,55.0,south,1958.0,False,True,Eixample,0.0,False,False,3.0,3.0

In [168]:
# 1.
df_train = df_train.dropna(subset = ['neighborhood'])

# 2.
df_whole = pd.concat([df_train, df_test], axis = 0, ignore_index = True)

# 3.
df_whole['square_meters'] = df_whole['square_meters'].abs()
df_whole.loc[df_whole['num_rooms'] > 12, 'num_rooms'] = np.nan

# 4.
bool_variables = ['is_furnished',
                    'has_pool',
                    'has_ac',
                    'accepts_pets']

for catvar in bool_variables:
    df_whole[catvar] = df_whole[catvar].map({True: 1, False: 0})

display(df_whole)

,id,num_rooms,num_baths,square_meters,orientation,year_built,is_furnished,has_pool,neighborhood,num_crimes,has_ac,accepts_pets,price,num_door,num_floor
0,9255,1.0,1.0,NaN,NaN,1956.0,0.0,0.0,Sant Martí,2.0,1.0,1.0,1096.0,1.0,NaN
1,1562,4.0,1.0,133.0,west,1960.0,0.0,0.0,Sants,4.0,0.0,0.0,1396.0,2.0,NaN
2,1671,2.0,3.0,137.0,NaN,2000.0,0.0,1.0,Eixample,0.0,0.0,0.0,1263.0,1.0,NaN
3,6088,1.0,2.0,41.0,NaN,2002.0,0.0,1.0,Sants,5.0,0.0,0.0,1290.0,1.0,NaN
4,6670,2.0,1.0,70.0,NaN,1979.0,1.0,0.0,Gràcia,0.0,0.0,1.0,962.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,6413,3.0,3.0,95.0,south,1976.0,1.0,1.0,Sarrià-Sant Gervasi,0.0,1.0,1.0,NaN,2.0,5.0
9831,8286,1.0,2.0,161.0,NaN,1984.0,1.0,0.0,Nou Barris,9.0,0.0,0.0,NaN,1.0,5.0
9832,7854,4.0,3.0,111.0,NaN,1957.0,1.0,1.0,Gràcia,0.0,0.0,1.0,NaN,2.0,4.0
9833,1096,2.0,1.0,154.0,north,2018.0,0.0,0.0,Nou Barris,7.0,0.0,0.0,NaN,1.0,9.0
9834,6930,4.0,2.0,55.0,south,1958.0,0.0,1.0,Eixample,0.0,0.0,0.0,NaN,3.0,3.0

In [169]:
# 5.
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
vars_to_scale = [
    'square_meters',
    'num_rooms',
    'num_baths',
    'year_built',
    'num_crimes',
    'num_floor',
    'num_door',
]
df_whole[vars_to_scale] = scaler.fit_transform(df_whole[vars_to_scale])
display(df_whole)

,id,num_rooms,num_baths,square_meters,orientation,year_built,is_furnished,has_pool,neighborhood,num_crimes,has_ac,accepts_pets,price,num_door,num_floor
0,9255,-1.330886,-1.216409,NaN,NaN,-1.422690,0.0,0.0,Sant Martí,-0.223638,1.0,1.0,1096.0,-1.330730,NaN
1,1562,1.345185,-1.216409,0.673252,west,-1.228787,0.0,0.0,Sants,0.359485,0.0,0.0,1396.0,-0.440127,NaN
2,1671,-0.438862,1.235740,0.786283,NaN,0.710249,0.0,1.0,Eixample,-0.806761,0.0,0.0,1263.0,-1.330730,NaN
3,6088,-1.330886,0.009665,-1.926453,NaN,0.807200,0.0,1.0,Sants,0.651046,0.0,0.0,1290.0,-1.330730,NaN
4,6670,-0.438862,-1.216409,-1.106981,NaN,-0.307745,1.0,0.0,Gràcia,-0.806761,0.0,1.0,962.0,-1.330730,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,6413,0.453161,1.235740,-0.400539,south,-0.453173,1.0,1.0,Sarrià-Sant Gervasi,-0.806761,1.0,1.0,NaN,-0.440127,-0.204984
9831,8286,-1.330886,0.009665,1.464467,NaN,-0.065365,1.0,0.0,Nou Barris,1.817292,0.0,0.0,NaN,-1.330730,-0.204984
9832,7854,1.345185,1.235740,0.051583,NaN,-1.374214,1.0,1.0,Gràcia,-0.806761,0.0,1.0,NaN,-0.440127,-0.549095
9833,1096,-0.438862,-1.216409,1.266663,north,1.582814,0.0,0.0,Nou Barris,1.234169,0.0,0.0,NaN,-1.330730,1.171461
9834,6930,1.345185,0.009665,-1.530846,south,-1.325738,0.0,1.0,Eixample,-0.806761,0.0,0.0,NaN,0.450476,-0.893206

In [170]:
# 6.
nas_train = df_train.isna().sum()
nas_test = df_test.isna().sum()
from sklearn.impute import KNNImputer

df_whole_impute = df_whole.copy()
df_whole_impute = df_whole_impute.drop(columns = ['id', 'orientation', 'neighborhood', 'price'], axis = 1)
#display(df_whole_impute)

knn_imputer = KNNImputer(n_neighbors = 25, missing_values = np.nan)
imputed_data = knn_imputer.fit_transform(df_whole_impute)
imputed_df = pd.DataFrame(imputed_data, columns = df_whole_impute.columns)
df_whole_impute = imputed_df
df_whole_impute[bool_variables] = df_whole_impute[bool_variables].round(0).astype('int64')

#display(df_whole)
#display(df_whole_impute)
print(df_whole['is_furnished'].isna().sum())
print(df_whole['is_furnished'].sum())
print(df_whole_impute['is_furnished'].sum())

for catvar in bool_variables:
    print((df_whole_impute[catvar] == df_whole[catvar]).sum() == 9835 - (nas_train + nas_test)[catvar])

197
4681.0
4767
True
True
True
True

In [171]:
# 7.
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import KNNImputer

common_cols = df_whole.columns.intersection(df_whole_impute.columns)
df_whole[common_cols] = df_whole_impute[common_cols]


'''
for var in df_whole.columns:
    
    print(f"> {var}: {df_whole[var].isna().sum()} missing values")
'''

df_neigh_impute = df_whole.copy()
df_neigh_impute = df_neigh_impute.drop(columns = ['id', 'orientation', 'price'], axis = 1)

#display(df_whole[df_whole['id'] == 8572])

list_of_neigh = df_neigh_impute['neighborhood'].unique()
list_of_neigh = list_of_neigh.tolist()
list_of_neigh.remove(np.nan)
#display(list_of_neigh, len(list_of_neigh))

mapping = {}

for i in range(len(list_of_neigh)):
    mapping[list_of_neigh[i]] = range(len(list_of_neigh))[i] + 1

rev_mapping = {value: key for key, value in mapping.items()}
#display(mapping, rev_mapping)

df_neigh_impute['neighborhood'] = df_neigh_impute['neighborhood'].map(mapping)

#labeler = LabelEncoder()
#labeler.fit(df_neigh_impute['neighborhood'])
#df_neigh_impute['neighborhood'] = labeler.transform(df_neigh_impute['neighborhood'])
#display(df_neigh_impute)
#display(df_neigh_impute.loc[7757])

knn_imputer = KNNImputer(n_neighbors = 25)
imputed_data = knn_imputer.fit_transform(df_neigh_impute)
imputed_df = pd.DataFrame(imputed_data, columns = df_neigh_impute.columns)
df_neigh_impute['neighborhood'] = imputed_df['neighborhood'].round(0)

#display(df_neigh_impute.loc[7757])
#df_neigh_impute['neighborhood'] = labeler.inverse_transform(df_neigh_impute['neighborhood'].astype(int))

df_neigh_impute['neighborhood'] = df_neigh_impute['neighborhood'].map(rev_mapping)

print((df_whole['neighborhood'] == df_neigh_impute['neighborhood']).sum())

df_whole['neighborhood'] = df_neigh_impute['neighborhood']


for var in df_whole.columns:
    
    print(f"> {var}: {df_whole[var].isna().sum()} missing values")


#display(df_whole[df_whole['neighborhood'].isna()])

display(df_whole)
display(df_neigh_impute)

for col in df_neigh_impute.columns:
    print((df_whole[col] == df_neigh_impute[col]).sum())

9800
> id: 0 missing values
> num_rooms: 0 missing values
> num_baths: 0 missing values
> square_meters: 0 missing values
> orientation: 2822 missing values
> year_built: 0 missing values
> is_furnished: 0 missing values
> has_pool: 0 missing values
> neighborhood: 0 missing values
> num_crimes: 0 missing values
> has_ac: 0 missing values
> accepts_pets: 0 missing values
> price: 2000 missing values
> num_door: 0 missing values
> num_floor: 0 missing values

,id,num_rooms,num_baths,square_meters,orientation,year_built,is_furnished,has_pool,neighborhood,num_crimes,has_ac,accepts_pets,price,num_door,num_floor
0,9255,-1.330886,-1.216409,0.083232,NaN,-1.422690,0,0,Sant Martí,-0.223638,1,1,1096.0,-1.330730,-0.232513
1,1562,1.345185,-1.216409,0.673252,west,-1.228787,0,0,Sants,0.359485,0,0,1396.0,-0.440127,0.345594
2,1671,-0.438862,1.235740,0.786283,NaN,0.710249,0,1,Eixample,-0.806761,0,0,1263.0,-1.330730,0.400652
3,6088,-1.330886,0.009665,-1.926453,NaN,0.807200,0,1,Sants,0.651046,0,0,1290.0,-1.330730,-0.136161
4,6670,-0.438862,-1.216409,-1.106981,NaN,-0.307745,1,0,Gràcia,-0.806761,0,1,962.0,-1.330730,0.029012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,6413,0.453161,1.235740,-0.400539,south,-0.453173,1,1,Sarrià-Sant Gervasi,-0.806761,1,1,NaN,-0.440127,-0.204984
9831,8286,-1.330886,0.009665,1.464467,NaN,-0.065365,1,0,Nou Barris,1.817292,0,0,NaN,-1.330730,-0.204984
9832,7854,1.345185,1.235740,0.051583,NaN,-1.374214,1,1,Gràcia,-0.806761,0,1,NaN,-0.440127,-0.549095
9833,1096,-0.438862,-1.216409,1.266663,north,1.582814,0,0,Nou Barris,1.234169,0,0,NaN,-1.330730,1.171461
9834,6930,1.345185,0.009665,-1.530846,south,-1.325738,0,1,Eixample,-0.806761,0,0,NaN,0.450476,-0.893206

,num_rooms,num_baths,square_meters,year_built,is_furnished,has_pool,neighborhood,num_crimes,has_ac,accepts_pets,num_door,num_floor
0,-1.330886,-1.216409,0.083232,-1.422690,0,0,Sant Martí,-0.223638,1,1,-1.330730,-0.232513
1,1.345185,-1.216409,0.673252,-1.228787,0,0,Sants,0.359485,0,0,-0.440127,0.345594
2,-0.438862,1.235740,0.786283,0.710249,0,1,Eixample,-0.806761,0,0,-1.330730,0.400652
3,-1.330886,0.009665,-1.926453,0.807200,0,1,Sants,0.651046,0,0,-1.330730,-0.136161
4,-0.438862,-1.216409,-1.106981,-0.307745,1,0,Gràcia,-0.806761,0,1,-1.330730,0.029012
...,...,...,...,...,...,...,...,...,...,...,...,...
9830,0.453161,1.235740,-0.400539,-0.453173,1,1,Sarrià-Sant Gervasi,-0.806761,1,1,-0.440127,-0.204984
9831,-1.330886,0.009665,1.464467,-0.065365,1,0,Nou Barris,1.817292,0,0,-1.330730,-0.204984
9832,1.345185,1.235740,0.051583,-1.374214,1,1,Gràcia,-0.806761,0,1,-0.440127,-0.549095
9833,-0.438862,-1.216409,1.266663,1.582814,0,0,Nou Barris,1.234169,0,0,-1.330730,1.171461
9834,1.345185,0.009665,-1.530846,-1.325738,0,1,Eixample,-0.806761,0,0,0.450476,-0.893206

9835
9835
9835
9835
9835
9835
9835
9835
9835
9835
9835
9835

In [172]:
# 8.
from sklearn.preprocessing import OneHotEncoder 

def OHencoder(data, list_of_columns):
    encoder = OneHotEncoder(handle_unknown = 'ignore')
    encoded_data = encoder.fit_transform(data[[list_of_columns]]).toarray()
    encoded_df = pd.DataFrame(encoded_data, columns = encoder.get_feature_names_out([list_of_columns]), index = data.index)
    encoded_df = pd.concat([data, encoded_df], axis = 1)
    
    return encoded_df

df_whole = OHencoder(df_whole, 'neighborhood')
df_whole = OHencoder(df_whole, 'orientation')
df_whole = df_whole.drop(columns = ['orientation_nan', 'orientation', 'neighborhood'])

display(df_whole)

,id,num_rooms,num_baths,square_meters,year_built,is_furnished,has_pool,num_crimes,has_ac,accepts_pets,...,neighborhood_Les Corts,neighborhood_Nou Barris,neighborhood_Sant Andreu,neighborhood_Sant Martí,neighborhood_Sants,neighborhood_Sarrià-Sant Gervasi,orientation_east,orientation_north,orientation_south,orientation_west
0,9255,-1.330886,-1.216409,0.083232,-1.422690,0,0,-0.223638,1,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1562,1.345185,-1.216409,0.673252,-1.228787,0,0,0.359485,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1671,-0.438862,1.235740,0.786283,0.710249,0,1,-0.806761,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6088,-1.330886,0.009665,-1.926453,0.807200,0,1,0.651046,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,6670,-0.438862,-1.216409,-1.106981,-0.307745,1,0,-0.806761,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,6413,0.453161,1.235740,-0.400539,-0.453173,1,1,-0.806761,1,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
9831,8286,-1.330886,0.009665,1.464467,-0.065365,1,0,1.817292,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9832,7854,1.345185,1.235740,0.051583,-1.374214,1,1,-0.806761,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9833,1096,-0.438862,-1.216409,1.266663,1.582814,0,0,1.234169,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9834,6930,1.345185,0.009665,-1.530846,-1.325738,0,1,-0.806761,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [173]:
# 9.
X_train = df_whole.loc[df_whole['id'].isin(df_train['id'])]
X_train = X_train.drop(columns = ['price'], axis = 1)

y_train = df_whole.loc[df_whole['id'].isin(df_train['id'])][['id', 'price']]
#y_train = y_train

X_test = df_whole.loc[df_whole['id'].isin(df_test['id'])]
X_test = X_test.drop(columns = ['price'], axis = 1)

#display(X_train, y_train, X_test)
#print('neighborhood' in X_train.columns, 'orientation.nan' in X_test.columns)
print(X_train.columns)

Index(['id', 'num_rooms', 'num_baths', 'square_meters', 'year_built',
       'is_furnished', 'has_pool', 'num_crimes', 'has_ac', 'accepts_pets',
       'num_door', 'num_floor', 'neighborhood_Ciutat Vella',
       'neighborhood_Eixample', 'neighborhood_Gràcia', 'neighborhood_Horta',
       'neighborhood_Les Corts', 'neighborhood_Nou Barris',
       'neighborhood_Sant Andreu', 'neighborhood_Sant Martí',
       'neighborhood_Sants', 'neighborhood_Sarrià-Sant Gervasi',
       'orientation_east', 'orientation_north', 'orientation_south',
       'orientation_west'],
      dtype='object')

In [174]:
# 10.
from sklearn.model_selection import train_test_split

Xt_train, Xt_test, yt_train, yt_test = train_test_split(X_train, y_train, test_size = 0.2, random_state = 168)

for dataset in [Xt_train, Xt_test, yt_train, yt_test]:
    dataset.drop(columns = 'id', axis = 1, inplace = True)

display(Xt_train, Xt_test, yt_train, yt_test)

,num_rooms,num_baths,square_meters,year_built,is_furnished,has_pool,num_crimes,has_ac,accepts_pets,num_door,...,neighborhood_Les Corts,neighborhood_Nou Barris,neighborhood_Sant Andreu,neighborhood_Sant Martí,neighborhood_Sants,neighborhood_Sarrià-Sant Gervasi,orientation_east,orientation_north,orientation_south,orientation_west
1577,0.453161,-1.216409,0.164614,1.437387,0,0,-0.806761,0,0,-1.330730,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4790,-1.330886,1.235740,1.634013,1.582814,1,0,0.067923,0,1,1.341080,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4572,0.453161,0.009665,-0.965693,1.631290,1,1,0.067923,0,0,-1.330730,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
6825,-0.438862,0.009665,-0.259251,-0.695552,1,1,-0.806761,1,1,0.450476,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5988,-1.330886,-1.216409,-0.852662,-0.065365,1,0,1.525730,1,1,0.450476,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3511,-0.438862,-1.216409,-0.344024,0.807200,1,1,1.525730,0,1,0.450476,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2349,0.453161,1.235740,-0.372282,-0.598600,1,0,2.108853,1,1,1.341080,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3385,-1.330886,-1.216409,-0.287509,0.016074,0,0,1.234169,1,0,-1.330730,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5375,0.453161,-1.216409,-1.530846,0.807200,0,1,-0.806761,1,1,1.341080,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5845,0.453161,-1.216409,0.503706,-1.325738,1,0,-0.223638,1,1,0.450476,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

,num_rooms,num_baths,square_meters,year_built,is_furnished,has_pool,num_crimes,has_ac,accepts_pets,num_door,...,neighborhood_Les Corts,neighborhood_Nou Barris,neighborhood_Sant Andreu,neighborhood_Sant Martí,neighborhood_Sants,neighborhood_Sarrià-Sant Gervasi,orientation_east,orientation_north,orientation_south,orientation_west
5288,-1.330886,-1.216409,-0.626601,-0.598600,0,0,-0.223638,1,1,0.450476,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7055,-0.438862,0.009665,-1.389558,0.952628,0,0,1.817292,0,1,1.341080,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6183,-1.330886,1.235740,0.842798,0.080062,1,1,2.108853,1,0,1.341080,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2194,0.453161,0.009665,-0.174478,1.146532,1,1,2.108853,0,1,-1.330730,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5683,0.453161,0.009665,-0.061447,-0.840980,1,1,-0.806761,0,1,-1.330730,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6292,-1.330886,0.009665,0.079841,-1.713545,1,0,0.114573,0,0,0.450476,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
97,-1.330886,1.235740,-1.050466,0.177014,1,0,-0.806761,1,1,1.341080,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
685,-0.438862,-1.216409,-1.333042,-0.986407,0,1,-0.806761,1,1,-1.330730,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6425,0.453161,0.009665,-0.146220,1.049580,1,1,-0.806761,1,1,1.341080,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
523,-0.438862,1.235740,-0.004932,-0.404697,1,1,0.942607,1,1,-0.440127,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

       price
1577  1264.0
4790  1506.0
4572  1022.0
6825   964.0
5988   679.0
...      ...
3511   636.0
2349   940.0
3385   895.0
5375   852.0
5845  1175.0

[6268 rows x 1 columns]

       price
5288  1019.0
7055   828.0
6183  1318.0
2194   867.0
5683  1297.0
...      ...
6292   939.0
97     786.0
685    681.0
6425   951.0
523   1442.0

[1567 rows x 1 columns]

LASSO

In [175]:
from sklearn.linear_model import Lasso

'''
selected_vars = ['num_rooms',
                'square_meters',
                'num_floor',
                'num_crimes',
                'neighborhood_Les Corts',
                'neighborhood_Sant Andreu',
                'neighborhood_Sant Martí',
                'neighborhood_Sants',
                'neighborhood_Sarrià-Sant Gervasi',
                'neighborhood_Eixample',
                'neighborhood_Gràcia',
                'neighborhood_Horta',
                'neighborhood_Ciutat Vella',
                'neighborhood_Nou Barris',
                'is_furnished',
                'num_baths',
                'year_built',
                'has_ac']
'''

non_selected_vars = [
    'id',
    'num_door'
]

Xf_train = X_train.drop(columns = non_selected_vars, axis = 1)
yf_train = y_train.drop(columns = 'id', axis = 1)
Xf_test = X_test.drop(columns = non_selected_vars, axis = 1)

display(Xf_train)
display(yf_train)

,num_rooms,num_baths,square_meters,year_built,is_furnished,has_pool,num_crimes,has_ac,accepts_pets,num_floor,...,neighborhood_Les Corts,neighborhood_Nou Barris,neighborhood_Sant Andreu,neighborhood_Sant Martí,neighborhood_Sants,neighborhood_Sarrià-Sant Gervasi,orientation_east,orientation_north,orientation_south,orientation_west
0,-1.330886,-1.216409,0.083232,-1.422690,0,0,-0.223638,1,1,-0.232513,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.345185,-1.216409,0.673252,-1.228787,0,0,0.359485,0,0,0.345594,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,-0.438862,1.235740,0.786283,0.710249,0,1,-0.806761,0,0,0.400652,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-1.330886,0.009665,-1.926453,0.807200,0,1,0.651046,0,0,-0.136161,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,-0.438862,-1.216409,-1.106981,-0.307745,1,0,-0.806761,0,1,0.029012,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7830,-0.438862,0.107751,-0.400539,1.728242,0,0,-0.806761,0,0,-0.053575,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
7831,1.345185,1.235740,1.605755,0.467869,0,0,1.817292,0,0,-0.067339,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7832,1.345185,-1.216409,-0.570085,1.437387,1,0,-0.806761,1,0,0.042776,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
7833,1.345185,0.009665,1.634013,-0.404697,0,1,-0.806761,1,0,0.290537,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7834,-0.438862,-1.216409,-0.400539,0.710249,0,1,1.525730,1,0,0.070305,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

       price
0     1096.0
1     1396.0
2     1263.0
3     1290.0
4      962.0
...      ...
7830  1066.0
7831  1255.0
7832  1220.0
7833  1547.0
7834  1133.0

[7835 rows x 1 columns]

In [176]:
from sklearn.linear_model import Lasso
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# Lambda values for lasso fit
lambda_values = [0.0001, 0.001, 0.01, 0.05, 0.1, 
 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 2.0, 3.0, 
 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 20, 50, 100, 500, 1000 ]

# Train lasso
def train_lasso(Xf_train, yf_train, alpha):
    lasso = Lasso(alpha=alpha, max_iter=1000)
    lasso = lasso.fit(Xf_train, yf_train)
    return lasso

lasso_models = []

# Iterate lambda_values to train
for alpha in lambda_values:
    l = train_lasso(Xt_train, yt_train, alpha)
    lasso_models.append(l)
    
# Return score for each lambda iteration    
for i, alpha in enumerate(lambda_values):
    print('Lambda value: ',alpha)
    y_pred_lasso = lasso_models[i].predict(Xt_test)
    print('The accuracy of the Lasso Regression is',r2_score(yt_test,y_pred_lasso))
    print ('RMSE is: ', mean_squared_error(yt_test, y_pred_lasso))
    print('\n')

Lambda value:  0.0001
The accuracy of the Lasso Regression is 0.579475518857712
RMSE is:  29789.342072133233


Lambda value:  0.001
The accuracy of the Lasso Regression is 0.5794770263309718
RMSE is:  29789.235284921993


Lambda value:  0.01
The accuracy of the Lasso Regression is 0.57949188197826
RMSE is:  29788.18293249398


Lambda value:  0.05
The accuracy of the Lasso Regression is 0.5795532218780315
RMSE is:  29783.837703288762


Lambda value:  0.1
The accuracy of the Lasso Regression is 0.5796187087331195
RMSE is:  29779.19870980581


Lambda value:  0.2
The accuracy of the Lasso Regression is 0.5797318169054912
RMSE is:  29771.186291530463


Lambda value:  0.3
The accuracy of the Lasso Regression is 0.5797693873834937
RMSE is:  29768.5248535614


Lambda value:  0.4
The accuracy of the Lasso Regression is 0.5798522540074762
RMSE is:  29762.654702550288


Lambda value:  0.5
The accuracy of the Lasso Regression is 0.579932902029751
RMSE is:  29756.941714054443


Lambda value:  0.6
The accuracy of the Lasso Regression is 0.5799787846862129
RMSE is:  29753.69145346365


Lambda value:  0.7
The accuracy of the Lasso Regression is 0.5800179463333115
RMSE is:  29750.917299392146


Lambda value:  0.8
The accuracy of the Lasso Regression is 0.580058666195687
RMSE is:  29748.032763618772


Lambda value:  0.9
The accuracy of the Lasso Regression is 0.5800947584411509
RMSE is:  29745.476041490838


Lambda value:  1.0
The accuracy of the Lasso Regression is 0.5801262230697031
RMSE is:  29743.247133008346


Lambda value:  2.0
The accuracy of the Lasso Regression is 0.5802297999575134
RMSE is:  29735.909897056303


Lambda value:  3.0
The accuracy of the Lasso Regression is 0.5800915423633147
RMSE is:  29745.703863762996


Lambda value:  4.0
The accuracy of the Lasso Regression is 0.5798309910452252
RMSE is:  29764.160939842917


Lambda value:  5.0
The accuracy of the Lasso Regression is 0.5794566304243143
RMSE is:  29790.680101258586


Lambda value:  6.0
The accuracy of the Lasso Regression is 0.5789684605005819
RMSE is:  29825.261348009994


Lambda value:  7.0
The accuracy of the Lasso Regression is 0.5783664812740283
RMSE is:  29867.90468009714


Lambda value:  8.0
The accuracy of the Lasso Regression is 0.577650693360404
RMSE is:  29918.61005390114


Lambda value:  9.0
The accuracy of the Lasso Regression is 0.5769249082856096
RMSE is:  29970.023612049215


Lambda value:  10.0
The accuracy of the Lasso Regression is 0.57614506909302
RMSE is:  30025.266285213464


Lambda value:  20
The accuracy of the Lasso Regression is 0.5661178459518467
RMSE is:  30735.580175559728


Lambda value:  50
The accuracy of the Lasso Regression is 0.511130523799226
RMSE is:  34630.802029910614


Lambda value:  100
The accuracy of the Lasso Regression is 0.3613439127780761
RMSE is:  45241.46750511471


Lambda value:  500
The accuracy of the Lasso Regression is -5.309323091839957e-06
RMSE is:  70838.9203702399


Lambda value:  1000
The accuracy of the Lasso Regression is -5.309323091839957e-06
RMSE is:  70838.9203702399

In [179]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso

alphas = [0.0001, 0.001, 0.01, 0.05, 0.1, 
 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 2.0, 3.0, 
 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 20, 50, 100, 500, 1000 ]
param_grid = {'alpha': alphas}

lasso = Lasso()
model_cv = GridSearchCV(lasso, param_grid, cv=5, scoring='neg_mean_squared_error', return_train_score=True, verbose=1)
model_cv.fit(Xf_train, yf_train)

#best_alpha = grid_search.best_params_['alpha']
#best_lasso = grid_search.best_estimator_
#print("Best Alpha:", best_alpha)

cv_results = pd.DataFrame(model_cv.cv_results_)
cv_results.head()
display(cv_results)

Fitting 5 folds for each of 28 candidates, totalling 140 fits

/Users/nataliabeltran/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.452e+06, tolerance: 4.623e+04
  model = cd_fast.enet_coordinate_descent(
/Users/nataliabeltran/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.490e+06, tolerance: 4.679e+04
  model = cd_fast.enet_coordinate_descent(
/Users/nataliabeltran/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.479e+06, tolerance: 4.575e+04
  model = cd_fast.enet_coordinate_descent(
/Users/nataliabeltran/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.349e+06, tolerance: 4.582e+04
  model = cd_fast.enet_coordinate_descent(

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,...,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,split3_train_score,split4_train_score,mean_train_score,std_train_score
0,0.166413,0.087064,0.004692,0.001129,0.0001,{'alpha': 0.0001},-33333.743690,-31690.200631,-30661.341949,-30848.202193,...,-31668.914233,946.688150,17,-31041.146308,-31437.808751,-31709.106278,-31663.970338,-31406.428071,-31451.691949,237.534644
1,0.066780,0.033394,0.004325,0.000753,0.001,{'alpha': 0.001},-33333.503936,-31689.924801,-30661.230794,-30847.963566,...,-31668.724429,946.665110,16,-31041.146471,-31437.808912,-31709.106447,-31663.970504,-31406.428251,-31451.692117,237.534646
2,0.013389,0.004259,0.003689,0.000547,0.01,{'alpha': 0.01},-33331.155009,-31687.247363,-30660.207365,-30845.591362,...,-31666.881765,946.432649,15,-31041.162784,-31437.824969,-31709.121994,-31663.987139,-31406.446319,-31451.708641,237.534473
3,0.007252,0.000663,0.003073,0.000358,0.05,{'alpha': 0.05},-33320.998083,-31675.752163,-30656.948572,-30836.584323,...,-31659.439910,944.973139,14,-31041.553784,-31438.211128,-31709.457724,-31664.355630,-31406.842824,-31452.084218,237.518318
4,0.008823,0.000984,0.004050,0.000551,0.1,{'alpha': 0.1},-33308.517622,-31661.964967,-30653.775866,-30828.311784,...,-31651.454629,942.590083,13,-31042.649539,-31439.287086,-31710.305293,-31665.383210,-31407.917548,-31453.108535,237.453387
5,0.008878,0.001750,0.004397,0.000646,0.2,{'alpha': 0.2},-33285.280845,-31637.903496,-30647.772550,-30809.798811,...,-31636.937998,938.885547,11,-31046.829974,-31443.142814,-31713.389179,-31668.565895,-31411.710059,-31456.727584,237.056035
6,0.007311,0.000718,0.004134,0.000763,0.3,{'alpha': 0.3},-33265.396000,-31617.847201,-30646.374398,-30792.418539,...,-31625.525069,935.356749,10,-31052.642710,-31448.364924,-31718.123488,-31672.591774,-31417.880664,-31461.920712,236.496903
7,0.006803,0.000466,0.003193,0.000476,0.4,{'alpha': 0.4},-33248.790224,-31601.245170,-30650.151982,-30779.985286,...,-31616.145092,930.813004,9,-31058.381407,-31455.139551,-31723.813024,-31677.404064,-31422.320604,-31467.411730,236.359059
8,0.006128,0.000243,0.003069,0.000062,0.5,{'alpha': 0.5},-33233.629552,-31587.572641,-30657.666753,-30774.455378,...,-31609.599408,924.754297,7,-31065.459021,-31461.598946,-31729.837571,-31682.166169,-31426.094765,-31473.031295,235.854088
9,0.006158,0.000231,0.003179,0.000341,0.6,{'alpha': 0.6},-33220.944125,-31576.331304,-30662.459466,-30770.121096,...,-31603.890530,919.953534,6,-31072.811919,-31468.663002,-31733.877183,-31687.663599,-31430.707627,-31478.744666,234.917141
10,0.010024,0.006288,0.025214,0.043636,0.7,{'alpha': 0.7},-33206.567660,-31568.058920,-30666.283416,-30767.203905,...,-31598.898169,914.569425,5,-31080.301649,-31475.559667,-31737.270207,-31693.608930,-31434.376960,-31484.223483,233.917719
11,0.006677,0.000663,0.003292,0.000131,0.8,{'alpha': 0.8},-33191.908454,-31560.674397,-30671.100209,-30765.096029,...,-31594.662407,908.795736,4,-31085.705872,-31482.076499,-31740.530166,-31696.131623,-31437.779274,-31488.444687,233.018044
12,0.008140,0.000993,0.004519,0.000896,0.9,{'alpha': 0.9},-33178.836455,-31553.980930,-30675.051777,-30762.590153,...,-31590.719965,903.851384,2,-31090.311070,-31487.195213,-31742.152085,-31698.677920,-31441.635230,-31491.994304,232.036860
13,0.009552,0.001389,0.004454,0.000551,1.0,{'alpha': 1.0},-33168.264413,-31548.587693,-30678.644344,-30759.487785,...,-31587.529949,900.004744,1,-31094.135500,-31492.202114,-31743.868097,-31701.130288,-31445.703003,-31495.407800,231.324259
14,0.007530,0.000946,0.003811,0.000484,2.0,{'alpha': 2.0},-33130.557492,-31536.177061,-30719.556417,-30749.329843,...,-31592.367660,882.766482,3,-31123.691455,-31518.508442,-31760.731958,-31728.928319,-31471.595670,-31520.691169,228.475905
15,0.007492,0.000458,0.004066,0.000637,3.0,{'alpha': 3.0},-33125.495886,-31529.875308,-30774.707236,-30755.415895,...,-31612.168500,871.958931,8,-31147.981814,-31538.280256,-31780.808486,-31748.882346,-31492.051124,-31541.600805,226.974914
16,0.006276,0.000348,0.003126,0.000078,4.0,{'alpha': 4.0},-33129.912240,-31530.893104,-30837.897651,-30769.253570,...,-31640.279656,862.486866,12,-31176.157050,-31565.960795,-31808.915630,-31776.817290,-31520.688760,-31569.707905,226.898138
17,0.005936,0.000527,0.002988,0.000349,5.0,{'alpha': 5.0},-33142.488328,-31539.230449,-30909.127662,-30790.842367,...,-31676.437408,853.954248,18,-31212.382360,-31601.550059,-31845.053390,-31812.733647,-31557.508647,-31605.845620,226.800028
18,0.006160,0.000650,0.003133,0.000150,6.0,{'alpha': 6.0},-33163.224150,-31554.887344,-30988.397266,-30820.182286,...,-31720.055253,846.179072,19,-31256.657745,-31645.048048,-31889.221765,-31856.631416,-31601.211144,-31649.754023,226.736100
19,0.005714,0.000512,0.003076,0.000231,7.0,{'alpha': 7.0},-33192.119704,-31577.863788,-31056.916324,-30857.273328,...,-31762.421329,840.086697,20,-31308.983203,-31696.454763,-31931.363952,-31908.510597,-31640.259131,-31697.114329,225.139951
20,0.006124,0.000202,0.002933,0.000131,8.0,{'alpha': 8.0},-33214.049305,-31608.159781,-31124.796682,-30902.115492,...,-31807.551063,830.564332,21,-31356.331569,-31755.770204,-31976.024638,-31968.371192,-31685.314500,-31748.362420,227.135223
21,0.006139,0.000153,0.003198,0.000277,9.0,{'alpha': 9.0},-33239.268335,-31637.293425,-31198.711088,-30954.708778,...,-31857.133700,820.409849,22,-31407.184783,-31808.047108,-32026.640080,-32036.213198,-31736.377251,-31802.892484,230.450417
22,0.006103,0.000371,0.003028,0.000334,10.0,{'alpha': 10.0},-33270.691545,-31671.169709,-31278.659542,-31015.876450,...,-31913.097842,810.204811,23,-31464.020726,-31864.290643,-32083.210278,-32103.358697,-31793.447383,-31861.665545,232.499316
23,0.006114,0.000489,0.003110,0.000095,20,{'alpha': 20},-33729.017137,-32258.595851,-32279.030764,-31824.848950,...,-32659.402960,699.160974,24,-32198.888992,-32648.702583,-32840.133111,-32852.453274,-32527.200655,-32613.475723,240.437234
24,0.006084,0.000352,0.003215,0.000332,50,{'alpha': 50},-37162.262007,-36079.971561,-37232.042076,-36150.959654,...,-36882.095243,662.508862,25,-36460.388319,-36862.391671,-37053.739318,-37050.019780,-36758.984345,-36837.104687,219.508925
25,0.005895,0.000086,0.002868,0.000255,100,{'alpha': 100},-47444.913481,-45845.749790,-49384.049429,-47407.925975,...,-47865.854215,1317.511014,26,-47647.515631,-47625.541553,-48034.261740,-48106.043932,-47698.429064,-47822.358384,204.961388
26,0.005869,0.000139,0.002942,0.000266,500,{'alpha': 500},-73217.862871,-69678.976345,-76316.274823,-73282.132940,...,-73664.069193,2363.479844,27,-73758.610030,-74647.892250,-72987.934939,-73742.783151,-73107.431745,-73648.930423,591.421767
27,0.005774,0.000273,0.003058,0.000407,1000,{'alpha': 1000},-73217.862871,-69678.976345,-76316.274823,-73282.132940,...,-73664.069193,2363.479844,27,-73758.610030,-74647.892250,-72987.934939,-73742.783151,-73107.431745,-73648.930423,591.421767

In [177]:
best_alpha = 1
lasso = Lasso(alpha = best_alpha) #Ridge model created and initialised
lasso.fit(Xf_train, yf_train) #trained on the training data using the .fit() function

# Make predictions on the test set
lasso_pred = lasso.predict(Xf_train) #via the trained model

predicted_prices = lasso.predict(Xf_test)

# Add the predicted prices to the test dataset
X_test['price'] = predicted_prices
X_test['price'] = X_test['price'].astype(int)
X_test['price'].describe()

# Save the test dataset with predicted prices to a new CSV file
X_test[['id', 'price']].to_csv('predicted_apartment_prices_lasso_v6.csv', index=False)